dialog {
  padding: 0;
  min-width: 360px;
  min-height: 500px;
}

#task-code {
  margin: 5px;
  padding: 5px;
  font: .9rem;
}

.dialog-container {
  padding: 10px;
  height: 100%;
}
#closeDialog {
    padding: 5px 10px;
    margin: auto auto 10px;
    font-size: 1rem;
}

.tabs {
  display: flex; /* Arrange tabs horizontally */
}

.tab {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1rem;

}

.tab-content {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab.active {
  background-color: lightblue; /* Highlight active tab */
}

/* Tab content styling */
.tab-pane {
  display: none; /* Hide all tab panes by default */
  padding: 20px;
}

.tab-pane.active {
  display: block; /* Show the active tab pane */
}

.table-grid {
    display: grid;
    grid-template-columns: max-content auto
}

.table-grid p {
    margin: 5px 10px 5px 5px;
}


