:root {
  --border-color: #999;
  --bg-color: #ddd;
}

dialog {
  padding: 0;
  min-width: 360px;
  min-height: 500px;
  background-color: var(--bg-color);
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px gray;
}

#task-code {
  margin-left: 10px;
}

.dialog-container {
  padding: 10px;
  height: 100%;
}
#closeDialog {
    padding: 5px 10px;
    margin: auto auto 10px;
    font-size: 1rem;
}

.tabs {
  display: flex; /* Arrange tabs horizontally */
}

.tab {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--border-color);
  /* border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.tab:focus {
  outline: 0;
}

.tab-content {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.tab.active {
  background-color: var(--bg-color); /* Highlight active tab */
  border-bottom: 0;
  /* color: #eee; */
}

/* Tab content styling */
.tab-pane {
  display: none; /* Hide all tab panes by default */
  padding: 20px;
}

.tab-pane.active {
  display: block; /* Show the active tab pane */
}

.tab-pane p {
  margin: 5px;
  padding: 5px;
  font: .9rem;
}

.value {
  border: 1px solid var(--border-color);
}

.table-grid {
    display: grid;
    grid-template-columns: max-content auto
}

.table-grid p {
    margin: 5px 10px 5px 5px;
}

.value {
  background-color: white;
  border-radius: 5px;
  padding: 5px
}


